@model ScholarshipSolution.Models.StudentInterest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StudentInterest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interest.TopicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interest.TopicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentInterestID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
